@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer

<div class="row">
    <div class="text-center alert alert-secondary col-md-6 offset-3">
        <h1>@localizer["Erişim gerçekleşti."]</h1>

    </div>
</div>
<div class="text-center">
    <a class="btn btn-secondary btn-group-lg " asp-controller="Film" asp-action="Index">@localizer["anasayfa"]</a>
</div>
