@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer

<div class="row">
    <div class="col-md-6 offset-3 alert alert-success text-center">
        <h1>@localizer["Siparişiniz tamamlandı."]</h1>
        <h2>@localizer["İyi seyirler dileriz."]</h2>

    </div>
</div>
<div class="text-center">
    <a class="btn btn-success text-white" asp-controller="Film" asp-action="Index">@localizer["Ana Sayfa"]</a>
</div>
